body {
    background-image: linear-gradient(to bottom right, #EC008C, #FC6767);
}

.container-fluid .img-fluid {
    width: 70%;
    margin: 10px;
}

#image {
    padding-bottom: 0.1%;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 5%;
    transition: transform 0.3s ease;
}

.container-fluid .price {
    margin-top: 1%;
    margin-bottom: 10%;
    margin-left: 32.5%;
    margin-right: 32.5%;
    margin-bottom: 3.25%;
    padding-top: 0.25%;
    padding-bottom: 0.25%;
}

@media (max-width: 767.98px) {
    .container-fluid .img-fluid {
        width: 70%;
    }

    .container-fluid .price {
        font-size: 1rem;
        margin-bottom: 12%;
        margin-left: 26%;
        margin-right: 26%;
        margin-bottom: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    #image {
        padding-bottom: 0.1%;
        margin-right: 0%;
        margin-left: 0%;
        margin-bottom: 10%;
    }
}

#image:hover {
    transform: scale(1.1);
}